.field{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    justify-content: center;
}

.phone-label{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 3%;
    font-family: "Gill Sans", sans-serif;
}

.phone-input-group{
    display: flex;
    align-items: center;
}

.country-code{
    height: 3.7rem;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.phone-input{
    height: 3rem;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    width: 20rem;
}

.carrier-button{
    width: 8rem;
    height: 3rem;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}   